<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 		column="user_id" 		jdbcType="VARCHAR"/>
		<result property="userName"		column="user_name" 		jdbcType="VARCHAR" />
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="role" 		column="role" 			jdbcType="VARCHAR" />
		<result property="ssn" 			column="ssn" 			jdbcType="VARCHAR" />
		<result property="phone" 		column="cell_phone" 	jdbcType="VARCHAR" />
		<result property="addr" 		column="addr" 			jdbcType="VARCHAR" />
		<result property="email" 		column="email" 			jdbcType="VARCHAR"  />
		<result property="regDate" 		column="reg_date" 		jdbcType="DATE" />
	</resultMap>
 	
 	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 				jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 				jdbcType="VARCHAR" />
		<result property="prodDetail" 		column="prod_detail" 			jdbcType="VARCHAR" />
		<result property="manuDate" 		column="manufacture_day" 		jdbcType="VARCHAR" />
		<result property="price" 			column="price" 					jdbcType="NUMERIC" />
		<result property="fileName" 		column="image_file" 			jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 				jdbcType="DATE" />
		<result property="tranNo" 			column="tran_no" 				jdbcType="NUMERIC"/>
		<result property="tranCode" 		column="tran_status_code" 		jdbcType="VARCHAR" />
		
	</resultMap>
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 			column="tran_no" 				jdbcType="NUMERIC"/>
		<result property="pordNo" 			column="prod_no" 				jdbcType="NUMERIC"/>
		<result property="buyerID"			column="buyer_id" 				jdbcType="VARCHAR" />
		<result property="pruchaseOption"	column="payment_option" 		jdbcType="VARCHAR" />
		<result property="receiverName" 	column="receiver_name" 			jdbcType="VARCHAR" />
		<result property="receiverPhone" 	column="receiver_phone" 		jdbcType="VARCHAR" />
		<result property="dlvyAddr" 		column="demailaddr" 			jdbcType="VARCHAR" />
		<result property="dlyRequest" 		column="dlvy_request" 			jdbcType="VARCHAR" />
		<result property="tranCode" 		column="tran_status_code" 		jdbcType="VARCHAR" />
		<result property="orderDate" 		column="order_data" 			jdbcType="DATE" />
		<result property="dlvyDate" 		column="dlvy_date" 				jdbcType="DATE" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	 <insert 	id="insertPurchase"		parameterType="purchase" >
	 	INSERT
		INTO transaction 
		VALUES	 (seq_transaction_tran_no.nextval , #{purchaseProd.prodNo} , #{buyer.userId} , #{pruchaseOption} , #{receiverName} , #{receiverPhone}, #{dlvyAddr} , #{dlyRequest} , #{tranCode}, SYSDATE, #{dlvyDate} )
	 </insert>
	 
	 <select 	id="findPurchase"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT
		tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, order_data, dlvy_date 		
		FROM transaction 
		WHERE tran_no = #{value}
	 </select>
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="getPurchaseList"  parameterType="search"	resultMap="purchaseSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM( SELECT *
					  FROM transaction
					  WHERE buyer_id = #{userId}
					ORDER BY tran_no) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 <select  id="getSaleList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM( SELECT pro.prod_no,pro.prod_name,pro.price,pro.reg_date ,tran.tran_status_code, tran.tran_no
					  FROM product pro LEFT JOIN transaction tran ON pro.prod_no = tran.prod_no
					  <if test="searchCondition != null">
					  <where>
					  <if test="searchCondition == 0 and searchKeyword !='' ">
						prod_no LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  <if test="searchCondition == 1 and searchKeyword !='' ">
						prod_name LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  <if test="searchCondition == 2 and searchKeyword !='' ">
						price LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  </where>
					  </if>
					ORDER BY pro.prod_no) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>

	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	 SELECT *
				 FROM transaction
			     WHERE buyer_id = #{userId}
				 ORDER BY tran_no
			) countTable						
	 </select>
	 
	  <select  id="getSaleTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT pro.prod_no,pro.prod_name,pro.price,pro.reg_date ,tran.tran_status_code, tran.tran_no
					  FROM product pro LEFT JOIN transaction tran ON pro.prod_no = tran.prod_no
					  <if test="searchCondition != null">
					  <where>
					  <if test="searchCondition == 0 and searchKeyword !='' ">
						prod_no LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  <if test="searchCondition == 1 and searchKeyword !='' ">
						prod_name LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  <if test="searchCondition == 2 and searchKeyword !='' ">
						price LIKE '%'|| #{searchKeyword} ||'%'
					  </if>
					  </where>
					  </if>) countTable						
	 </select>
	 
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option 		= #{pruchaseOption} ,
			receiver_name		= #{receiverName},
			receiver_phone		= #{receiverPhone} ,
			demailaddr			= #{dlvyAddr},
			dlvy_request		= #{dlyRequest},
			dlvy_date			= #{dlvyDate}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <update	id="updateTranCode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code 		= #{pruchaseOption}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
		 

</mapper>